.containeraa,
.box {
  overflow: hidden;
}

    .fade-in {
      animation: fadeInAnimation 1s ease-in-out;
  }

  @keyframes fadeInAnimation {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }